model=Model
manufacturer=Manufacturer
firmware_ver=0.0.1
hardware_id=HWID
serial_num=SN1234567890
ifs=wlan0
port=8080
scope=onvif://www.onvif.org/Profile/Streaming
scope=onvif://www.onvif.org/Profile/T
#user=admin
#password=admin
#Advanced options
adv_enable_media2=0
adv_fault_if_unknown=0
adv_fault_if_set=0
adv_synology_nvr=0

#Profile 0
name=Profile_0
width=1920
height=1080
url=rtsp://%s/ch0_0.h264
snapurl=http://%s/cgi-bin/snapshot.sh
type=H264
audio_encoder=AAC
audio_decoder=G711

#Profile 1
name=Profile_1
width=640
height=360
url=rtsp://%s/ch0_1.h264
snapurl=http://%s/cgi-bin/snapshot.sh
type=H264
audio_encoder=AAC
audio_decoder=NONE

#PTZ
ptz=1
min_step_x=0
max_step_x=360
min_step_y=0
max_step_y=180
min_step_z=0
max_step_z=0
get_position=/usr/local/bin/get_position
is_moving=/usr/local/bin/is_moving
move_left=/usr/local/bin/ptz_move -m left -s %f
move_right=/usr/local/bin/ptz_move -m right -s %f
move_up=/usr/local/bin/ptz_move -m up -s %f
move_down=/usr/local/bin/ptz_move -m down -s %f
move_in=/usr/local/bin/ptz_move -m in -s %f
move_out=/usr/local/bin/ptz_move -m out -s %f
move_stop=/usr/local/bin/ptz_move -m stop -t %s
move_preset=/usr/local/bin/ptz_move -p %d
goto_home_position=/usr/local/bin/ptz_move -h
set_preset=/usr/local/bin/ptz_presets.sh -a add_preset -m %s
set_home_position=/usr/local/bin/ptz_presets.sh -a set_home_position
remove_preset=/usr/local/bin/ptz_presets.sh -a del_preset -n %d
jump_to_abs=/usr/local/bin/ptz_move -j %f,%f,%f
jump_to_rel=/usr/local/bin/ptz_move -J %f,%f,%f
get_presets=/usr/local/bin/ptz_presets.sh -a get_presets

#RELAY OUTPUTS
#Relay 0
idle_state=open
close=/usr/local/bin/set_relay -n 0 -a close
open=/usr/local/bin/set_relay -n 0 -a open
#Relay 1
idle_state=open
close=/usr/local/bin/set_relay -n 1 -a close
open=/usr/local/bin/set_relay -n 1 -a open

#EVENT
events=3
#Event 0
topic=tns1:VideoSource/MotionAlarm
source_name=Source
source_type=tt:ReferenceToken
source_value=VideoSourceToken
input_file=/tmp/onvif_notify_server/motion_alarm
#Event 1
topic=tns1:RuleEngine/MyRuleDetector/PeopleDetect
source_name=VideoSourceConfigurationToken
source_type=xsd:string
source_value=VideoSourceToken
input_file=/tmp/onvif_notify_server/human_detection
#Event 2
topic=tns1:RuleEngine/MyRuleDetector/VehicleDetect
source_name=VideoSourceConfigurationToken
source_type=xsd:string
source_value=VideoSourceToken
input_file=/tmp/onvif_notify_server/vehicle_detection
#Event 3
topic=tns1:RuleEngine/MyRuleDetector/DogCatDetect
source_name=VideoSourceConfigurationToken
source_type=xsd:string
source_value=VideoSourceToken
input_file=/tmp/onvif_notify_server/animal_detection
#Event 4
topic=tns1:RuleEngine/MyRuleDetector/BabyCryingDetect
source_name=AudioSourceConfigurationToken
source_type=xsd:string
source_value=AudioSourceToken
input_file=/tmp/onvif_notify_server/baby_crying
#Event 5
topic=tns1:AudioAnalytics/Audio/DetectedSound
source_name=AudioSourceConfigurationToken
source_type=tt:ReferenceToken
source_value=AudioSourceToken
input_file=/tmp/onvif_notify_server/sound_detection
